* {
    // font-family: 'Poppins', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

$font_R: 'Roboto',
sans-serif;
$font_P: 'Poppins',
sans-serif;
$font_Q: 'Quicksand',
sans-serif;
$red: #F44336;
$white: #ffffff;
$dark_light: #2c3e50;
$dark_deep: #222F3E;
$light_green: #00cf5d;
$color: #00BC8C;
$color_2: #39C4B1;

.teal-light {
    background: #00cf5d;
}

.teal-light:hover {
    background: #00b451;
}

.html {
    color: #DD4B25;
}

.css {
    color: #1572B6;
}

.js {
    color: #F7C130;
}

.sass {
    color: #C96195;
}

.bootstrap {
    color: #533B78;
}

.dev-icon i {
    color: $light_green;
}

.github {
    // color: $white;
}

.waves-effect {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

nav {
    background: ($dark_light);
    background: ($dark_deep);
    border-bottom: 3px solid $white;
}

.container-fluid {
    width: 90%;
    margin: auto;

    ul li a {
        text-transform: uppercase;
        // font-weight: bold;
        font-family: ($font_R);
        outline: none;
        transition: all 400ms ease-in;
    }
}

.sidenav {
    background: ($dark_light);
    background: ($dark_deep);

    .sidenav-image {
        background: url(../img/bg_image.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        padding-top: 2rem;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 4px solid $white;
        }

        h4 {
            font-size: 2rem;
            color: $white;
            margin-top: 1rem;
            font-weight: 600;
        }

        p {
            font-size: 0.9rem;
            color: $dark_light;
            color: $dark_deep;
            background: $white;
            padding: 0.5rem 0;
        }
    }

    li {
        border-bottom: 2px solid rgba(27, 37, 49, 0.3);

        a {
            color: $white;
            text-transform: uppercase;
            padding: 0 26px;
        }
    }
}


canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    // position: absolute;
    width: 100%;
    height: 90vh;
    background: $dark_light;
    background: $dark_deep;
}

.particles {
    position: relative;

    .content {
        position: absolute;
        top: 45%;
        color: $white;
        background: none;
        transform: translateY(-45%);
        -webkit-transform: translateY(-45%);
        -moz-transform: translateY(-45%);
        -ms-transform: translateY(-45%);
        -o-transform: translateY(-45%);

        .user-text {
            color: $light_green;
            margin-left: 7px;
            font-weight: 500;
        }

        .user-designation {
            font-size: 2.5rem !important;
            margin-bottom: 0;
            padding-bottom: 0;
            font-weight: 600 !important;
            text-transform: capitalize !important;
        }

        .user-name,
        .user-designation {
            text-transform: uppercase;
            color: $white;
            margin: 0.5rem;
            font-weight: bold;
            font-size: 4rem;
            text-shadow: 2px 2px 2px #000;

            span.typed {
                color: ($light_green);
            }
        }

        .btn-group {
            margin-top: 2rem;
            margin-left: 10px;
        }

        a.btn {
            &:first-child {
                // color: $dark_deep;
            }

            &:last-child {
                color: $light_green;
                background: none;
                border: 2px solid $light_green;

                &:hover {
                    background: $light_green;
                    color: $white;
                }
            }

            i.fa {
                font-size: 14px;
                padding-left: 6px;
                color: $light_green;

                &:hover {
                    color: $white;
                }
            }
        }


        a.bounce {
            -moz-animation: bounce 3s infinite;
            -webkit-animation: bounce 3s infinite;
            animation: bounce 3s infinite;
            color: $white;
            display: block;
            background: $white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-top: 2rem;
            text-align: center;
            padding-top: 4px;

            i.fa {
                font-size: 1.2rem;
            }
        }

        /* BOUNCE EFFECT */

        @-moz-keyframes bounce {

            0%,
            20%,
            50%,
            80%,
            100% {
                -moz-transform: translateY(0);
                transform: translateY(0);
            }

            40% {
                -moz-transform: translateY(-7px);
                transform: translateY(-7px);
            }

            60% {
                -moz-transform: translateY(-4px);
                transform: translateY(-4px);
            }
        }

        @-webkit-keyframes bounce {

            0%,
            20%,
            50%,
            80%,
            100% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            40% {
                -webkit-transform: translateY(-7px);
                transform: translateY(-7px);
            }

            60% {
                -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
            }
        }

        @keyframes bounce {

            0%,
            20%,
            50%,
            80%,
            100% {
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            40% {
                -moz-transform: translateY(-7px);
                -ms-transform: translateY(-7px);
                -webkit-transform: translateY(-7px);
                transform: translateY(-7px);
            }

            60% {
                -moz-transform: translateY(-4px);
                -ms-transform: translateY(-4px);
                -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
            }
        }


    }

    .social-links {
        position: absolute;
        top: 30%;
        right: 3.5%;
        transform: translate(-30%, -3.5%);
        -webkit-transform: translate(-30%, -3.5%);
        -moz-transform: translate(-30%, -3.5%);
        -ms-transform: translate(-30%, -3.5%);
        -o-transform: translate(-30%, -3.5%);

        ul {
            //background: ($light_green);
            padding: 1rem 0;
            margin: auto;

            li {
                // display: inline-block;

                a {
                    display: block;
                    border-radius: 50%;
                    background: $white;
                    color: $dark_light;
                    color: $dark_deep;
                    text-align: center;
                    width: 40px;
                    line-height: 40px;
                    margin: 0.7rem;
                    transition: all 400ms ease;

                    i.fas {
                        font-size: 1.5rem;
                    }

                    &:hover {
                        background: $light_green;
                        color: $white;
                    }
                }
            }
        }
    }


}

.main-section {
    position: relative;
    width: 100%;
    height: auto;

    .sec {
        padding: 4rem 0;

        &:nth-child(odd) {
            background: $dark_light;
            color: $white;

        }

        &:nth-child(even) {
            background: $dark_deep;
            color: $white;

        }

        h2.title {
            font-size: 3rem;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            margin-bottom: 4rem;
        }

        .box {
            position: relative;

            img {
                width: 80%;
                border-radius: 5px;
                z-index: 99;
                position: relative;
            }

            .bg-overlay {
                width: 95%;
                height: 320px;
                background: black;
                position: absolute;
                top: 10%;
                opacity: 0.3;
                margin-left: 3rem;
                border-radius: 5px;
            }
        }

        .description {
            margin-top: 1rem;
            text-align: justify;

            .btn {
                margin-top: 1rem;
                font-weight: 600;

                i.fa {
                    font-size: 14px;
                    padding-left: 6px;
                }
            }
        }

        &.section-2 {
            text-align: center;

            .tabs {
                background: none;

                .indicator {
                    background: ($light_green);
                }

                a {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: $light_green;

                    &:active,
                    &:focus {
                        background: none;
                        border: none;
                    }
                }
            }

            .development,
            .graphic-design {
                padding-top: 3rem;
            }


            .development .card {
                padding: 1.5rem 0;
                transition: all 400ms ease;
                background: none;
                border: 2px solid $dark_light;

                img {
                    width: 55px;
                }

                i.fab {
                    font-size: 3rem;
                    padding-bottom: 1rem;
                }

                h4 {
                    font-size: 1.5rem;
                    // font-weight: bold;
                }

                &:hover {
                    transform: scale(1.08);
                }
            }

            .graphic-design .card {
                background: none;
                border: 2px solid $dark_light;

                .photoshop img,
                .illustrator img {
                    width: 150px;
                }

                .xd img {
                    width: 75px;
                    margin: 2.6rem;
                }

                h4 {
                    font-size: 1.5rem;
                    // font-weight: bold;
                    padding-bottom: 2rem;
                }
            }
        }

        &.section-3 {
            position: relative;

            .card {
                text-align: center;
                position: relative;
                margin-bottom: 4rem;
                transition: all 400ms ease;
                background: none;

                .icons {
                    background: $dark_light;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;

                    i.fas {
                        font-size: 1.3rem;
                        display: block;
                        // padding: 1.2rem;
                        position: relative;
                        width: 65px;
                        line-height: 65px;
                    }
                }

                h4 {
                    text-transform: uppercase;
                    margin-top: 2rem;
                    font-weight: bold;
                    font-size: 1.5rem;
                }

                p {
                    font-size: 0.9rem;
                }

                &:hover {
                    transform: scale(1.1);

                    // i.fas,
                    h4 {
                        color: ($light_green);
                    }
                }
            }
        }

        &.section-4 {
            .portfolio {
                .p-box {
                    position: relative;

                    .flip-card {
                        background-color: transparent;
                        width: 100%;
                        height: 180px;
                        perspective: 1000px;
                        margin-bottom: 1.2rem;
                    }

                    .flip-card-inner {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: transform 0.6s;
                        transform-style: preserve-3d;
                        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
                    }

                    .flip-card:hover .flip-card-inner {
                        transform: rotateY(180deg);
                    }

                    .flip-card-front,
                    .flip-card-back {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        backface-visibility: hidden;
                    }

                    .flip-card-front {
                        // background-color: coral;
                        color: black;
                        // z-index: 2;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .flip-card-back {
                        background-color: ($light_green);
                        color: ($dark_light);
                        color: ($dark_deep);
                        transform: rotateY(180deg);
                        padding-top: 2.5rem;

                        .btn {
                            background: ($dark_light);
                            background: ($dark_deep);
                        }
                    }

                }
            }

        }

        &.section-5 {
            .contact-box {
                display: flex;
                padding: 1rem;
                padding-right: 1.5rem;
                border-radius: 5px;

                .card {
                    background: none;
                    box-shadow: none;

                    &.box-1 {
                        flex: 2;

                        form {
                            margin-right: 1rem;

                            h5 {
                                text-transform: uppercase;
                                padding-top: 1rem;
                                padding-left: 0.8rem;
                                font-weight: bold;
                            }

                            button.btn {
                                margin-left: 0.8rem;
                                font-family: ($font_R);
                                font-weight: bold;
                                caret-color: ($dark_light);
                                caret-color: ($dark_deep);
                                // background: ($);
                            }
                        }
                    }

                    &.box-2 {
                        flex: 1;

                        iframe {
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    margin: 0;
    padding: 0;
    text-align: center;

    ul {
        background: ($light_green);
        padding: 1rem 0;
        margin: auto;

        li {
            display: inline-block;

            a {
                display: block;
                border-radius: 50%;
                background: ($dark_light);
                background: ($dark_deep);
                color: $white;
                width: 40px;
                line-height: 40px;
                margin: 0.7rem;
                transition: all 400ms ease;

                i.fas {
                    font-size: 1.5rem;
                }

                &:hover {
                    background: $white;
                    color: ($dark_light);
                    color: ($dark_deep);
                }
            }
        }
    }

    p {
        background: #00b551;
        text-transform: uppercase;
        color: $white;
        margin: 0;
        padding: 0.8rem;
        font-size: 0.9rem;
    }
}

.scrollTop {
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    text-align: center;
    opacity: 0;
}

.scrollTop a {
    display: block;
    background: ($light_green);
    line-height: 40px;
    color: $white;
    font-weight: 600;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;

    i.fas {
        font-size: 17px;
    }
}

///////////////////////////////////



///////////////////////////////
// RESPONSIVE DESIGN
///////////////////////////////

@media (max-width: 992px) {
    nav .brand-logo {
        display: none;
    }
}

@media (max-width: 768px) {
    .header-image .content {
        width: 100%;
    }

    section .sec {
        .box {
            img {
                width: 80%;
                margin-left: 54px;
            }

            .bg-overlay {

                width: 92%;
                height: 160px;
            }
        }

        .description {
            margin-top: 0;
            margin-left: 1rem;
        }

        &.section-4 .portfolio .p-box .flip-card {

            background-color: transparent;
            width: 100%;
            height: 200px;
        }

        &.section-5 {
            .contact-box {
                display: block;
                padding: 1rem;

                .card {
                    &.box-1 {
                        form {
                            margin: 0;

                            h5 {
                                display: none;
                            }
                        }
                    }

                    &.box-2 {
                        margin: 0 1rem;
                    }
                }
            }
        }
    }

    .scrollTop {
        position: fixed;
        right: 5%;
        bottom: 5%;
        width: 60px;
        height: 60px;
        transition: all 0.4s ease-in-out 0s;
        text-align: center;
        opacity: 0;
    }
}

@media (min-width: 568px) {
    section .sec {
        .box {
            text-align: center;
        }

        .description {
            margin: 2rem;
            margin-top: 0;
        }
    }
}


@media (max-width: 568px) {

    .header-image .content .user-name,
    .header-image .content .user-designation {
        font-size: 3rem;
    }

    section .sec {
        .box {
            img {
                width: 60%;
                margin-left: 10px;
            }

            .bg-overlay {
                margin: 0;
                margin-left: 0px;
                margin-left: auto;
                width: 79%;
                height: 194px;
                margin-left: 4rem;
            }
        }

        .description {
            margin-top: 2rem;
        }

        h2.title {
            font-size: 3rem;
        }

        &.section-4 .portfolio .p-box .flip-card {

            background-color: transparent;
            width: 100%;
            height: 250px;
        }
    }
}

@media (max-width: 414px) {

    .header-image .content .user-name,
    .header-image .content .user-designation {
        font-size: 2rem;
    }

    section .sec {

        h2.title {
            font-size: 3rem;
        }

        &.section-2 .tabs a {
            font-size: 1.2rem;

        }

        .box {
            text-align: center;

            img {
                width: 60%;
                margin-left: 0px;
            }

            .bg-overlay {
                width: 77%;
                height: 212px;
                margin-left: 3rem;
            }
        }

        .description {
            margin-top: 4rem;
            margin-left: 0;
        }

        &.section-2 .graphic-design .card {
            padding-top: 2rem;

            .photoshop img,
            .illustrator img {
                width: 90px;
            }

            .xd img {
                width: 50px;
                margin: 1.6rem;
            }
        }

        &.section-4 .portfolio .p-box .flip-card {
            width: 100%;
            height: 200px;

        }

        &.section-5 {
            .contact-box {
                padding: 1rem 0;

                .card {
                    &.box-1 {
                        form {
                            margin: 0;

                            h5 {
                                display: none;
                            }

                            button.btn {
                                // background: ($);
                                font-size: 0.9rem;

                                i {
                                    font-size: 0.9rem;
                                }
                            }
                        }
                    }

                    &.box-2 {
                        margin: 0 1rem;
                    }
                }
            }
        }
    }

}

@media (max-width: 360px) {
    section .sec {
        .box {
            img {
                width: 75%;
                margin-left: 0px;
            }

            .bg-overlay {
                width: 100%;
                height: 233px;
                margin-left: 0;

            }
        }

        &.section-2 .tabs a {
            font-size: 1rem;
        }

        &.section-2 {

            .development {
                .card h4 {
                    font-size: 1rem;
                }
            }

            .graphic-design {
                .card h4 {
                    font-size: 1rem;
                    padding: 0 2rem 2rem 2rem;
                }
            }
        }

        &.section-4 .portfolio .p-box .flip-card {

            width: 100%;
            height: 180px;

        }
    }
}

@media (max-width: 320px) {
    section .sec {
        .box img {
            width: 80%;
        }

        .box .bg-overlay {
            width: 100%;
            height: 210px;
        }

        &.section-4 .portfolio .p-box .flip-card {
            width: 100%;
            height: 160px;
        }
    }

    .header-image .content .user-designation {
        font-size: 1.5rem;
    }
}